.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}
/*hover a nav Milagros*/
nav a:hover {
  text-decoration: none;
  background-color: #f27600;
  font-size: 17px;
}

.navbar{
  background-color: #ff9100;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*Codigo Franco*/

.bd-placeholder-img {
  filter: opacity(0.6);
  width: 100%;
  transition: 0.5s;
}

.col-md-4:hover .bd-placeholder-img {
  filter: opacity(1);
}

.col-md-4:hover {
  -webkit-transform:scale(1.3);transform:scale(0.9);
  overflow:hidden;
  filter: opacity(1);
  
}

.col-md-4 {
  transition: 0.5s;
  flex: 0 0 22%; 
}

.row {
  justify-content: center;
  display: flex;
}

/*Css maxi y milagros*/
.container_auto{
  display: flex;
  align-items:center;
  padding: 20px 0 20px 0;
  width: auto;
  border-radius: 7px;
  margin: 12px;
  }

 #lista {
    margin-top: 12px;
  }
  .container_auto:nth-of-type(even){
    background-color: #ffb14b48;
  }

.container_auto:nth-of-type(odd){
    background-color: #d1882979;
    } 

/*Contenedor de img y nombre de auto*/
.container_animado{
  position: relative;
  display: flex;
}

/*Con el position,top,left y transform lo centro,
con el opacity lo oculto*/
.texto-hover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgb(197, 196, 196);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.3s ease; /*acelera gradualmente y luego desacelera gradualmente*/
  text-align: center;
}

.container_animado img{
  transform: translateX(100%); /*Lo mueve 100% a la derecha*/
}

/*Blurrear la imagen al hacerle hover*/
.container_animado:hover img{
  filter: blur(2px);
  transform: translateX(0%); /*lo lleva al comienzo del div*/
  transition: transform 0.5s ease;
}

/*Al texto-hover contenido en container_animado cuando paso por encima*/
.container_animado:hover .texto-hover{
  opacity: 1;
}

/*Al primer span enseguida luego del div container_animado*/
.container_animado + span {
  opacity: 0;
}

.container_animado:hover + span{
  opacity: 1;
  }

  /*Span con id vendidos*/
#vendidos {
  font-size: smaller;
  color: rgb(88, 87, 87);
  position:absolute;
  bottom: 0;
  left: 208%;
  text-align: center;
}
 /*span con clase*/
.description {
  font-size: 23px;
  margin-left: 20px;
 font-family: 'Arial Narrow Bold', sans-serif;
 color: rgb(53, 53, 53);
}

/*Codigo Franco*/